/FoxProject/build/
/FoxProject/dist/
/bin/
*.AVI
*.zip
*~
checksum.log
error.log
server.log
clientErrors.log
tilki.log
exam_list.txt
/Tilki/nbproject/private/
/Tilki/build/
/Tilki/dist/
/Tilki/deneme/
server.log.lck
*.WMV
